*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html{
  hanging-punctuation: first last;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6{
//   text-wrap: balance;
// }

body{
  min-height: 100svh;
}

// p,
// li,
// figcaption{
//   text-wrap: pretty;
//   max-width: 65ch;
// }

@media (prefers-reduced-motion: reduce){

  *,
  *::before,
  *::after{
    animation-duration:  0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


// body > :is(header, footer),
// main,
// section,
// article{
//   container-type: inline-size;
// }