// global color tokens
$-clr-white: hsl(0 0% 100%);
$-clr-gray-100: hsl(17 41% 97%);//
$-clr-gray-200: hsl(17, 12%, 89%);//
$-clr-gray-300: hsl(0 0% 70%);
$-clr-gray-400: hsl(0 0% 60%);
$-clr-gray-500: hsl(0 0% 50%);
$-clr-gray-600: hsl(0 0% 40%);
$-clr-gray-700: hsl(0 0% 30%);
$-clr-gray-800: hsl(0 0% 17.5%);
$-clr-gray-900: hsl(0 0% 7.5%);
$-clr-black: hsl(0 0% 0%);

$-clr-teal-100: hsl(195 23% 95%);
$-clr-teal-200: hsl(195 23%82.5%);
$-clr-teal-300: hsl(195 23% 70%);
$-clr-teal-400: hsl(195 23% 60%);
$-clr-teal-500: hsl(195 23% 50%);
$-clr-teal-600: hsl(195 23% 40%);
$-clr-teal-700: hsl(195 23% 28%);//
$-clr-teal-800: hsl(195 23% 17.5%);
$-clr-teal-900: hsl(194 78% 11%);//

$-clr-salmon-100: hsl(23, 100%, 97%);//
$-clr-salmon-200: hsl(22, 100%, 91%);//
$-clr-salmon-300: hsl(22 99% 72%);//
$-clr-salmon-400: hsl(22 99% 60%);
$-clr-salmon-500: hsl(22 99% 50%);
$-clr-salmon-600: hsl(22 99% 40%);
$-clr-salmon-700: hsl(22 99% 30%);
$-clr-salmon-800: hsl(22 99% 17.5%);
$-clr-salmon-900: hsl(22 99% 7.5%);



$default: (
  "neutral": (
    "000": $-clr-white,
    "100": $-clr-gray-100,//$footer-link-color, $button-accent-color/hover, $button-primary-color/hover
    "200": $-clr-gray-200,
    "300": $-clr-gray-300,
    "400": $-clr-gray-400,
    "500": $-clr-gray-500,
    "600": $-clr-gray-600,
    "700": $-clr-gray-700,//$color-text-default => $body-text-color, $card-color-default
    "800": $-clr-gray-800,
    "900": $-clr-gray-900,//$heading-color-default => $heading-1/2/3-color, $site-header-color,$navigation-color, $footer-text-color
    "1000": $-clr-black,
  ),
  "accent": (
    "100": $-clr-salmon-100,
    "200": $-clr-salmon-200,
    "300": $-clr-salmon-300,
    "400": $-clr-salmon-400,//$color-text-interactive-default => $link-color, $button-accent-background
    "500": $-clr-salmon-500,//$color-text-interactive-hover => $link-color-hover, $button-accent-background-hover
    "600": $-clr-salmon-600,
    "700": $-clr-salmon-700,
    "800": $-clr-salmon-800,
    "900": $-clr-salmon-900,
  ),
  "primary": (
    "100": $-clr-teal-100,//$color-background-default => $body-background-color
    "200": $-clr-teal-200,//$footer-link-color-hover
    "300": $-clr-teal-300,//$site-header-background-color, $navigation-color-hover, $footer-background-color
    "400": $-clr-teal-400,
    "500": $-clr-teal-500,
    "600": $-clr-teal-600,
    "700": $-clr-teal-700,//$button-primary-background
    "800": $-clr-teal-800,//$button-primary-background
    "900": $-clr-teal-900,
  ),
);


// contextual color tokens
$color-neutral-000: var(--neutral-000);
$color-neutral-100: var(--neutral-100);
$color-neutral-200: var(--neutral-200);
$color-neutral-300: var(--neutral-300);
$color-neutral-400: var(--neutral-400);
$color-neutral-500: var(--neutral-500);
$color-neutral-600: var(--neutral-600);
$color-neutral-700: var(--neutral-700);
$color-neutral-800: var(--neutral-800);
$color-neutral-900: var(--neutral-900);
$color-neutral-1000: var(--neutral-1000);

$color-primary-100: var(--primary-100);
$color-primary-200: var(--primary-200);
$color-primary-300: var(--primary-300);
$color-primary-400: var(--primary-400);
$color-primary-500: var(--primary-500);
$color-primary-600: var(--primary-600);
$color-primary-700: var(--primary-700);
$color-primary-800: var(--primary-800);
$color-primary-900: var(--primary-900);

$color-accent-100: var(--accent-100);
$color-accent-200: var(--accent-200);
$color-accent-300: var(--accent-300);
$color-accent-400: var(--accent-400);
$color-accent-500: var(--accent-500);
$color-accent-600: var(--accent-600);
$color-accent-700: var(--accent-700);
$color-accent-800: var(--accent-800);
$color-accent-900: var(--accent-900);
