@use "colors" as *;
@use "typography" as *;
@use "sizes" as *;
@use "sass:meta";

$active-theme: $default;
$enable-media-query-dark-mode: false;

// Contextual
$color-text-default: $color-primary-700;
$color-background-default: $color-neutral-000;
$color-text-interactive-default: $color-accent-400;
$color-text-interactive-hover: $color-accent-500;

// set to 0 to disable
$letter-spacing-loose: 0;

$border-radius-1: $size-2;
$border-radius-2: $size-4;

$box-shadow-1: 0px 6px 5px rgb(0, 0, 0, 0.012),
  0px 22px 18px rgb(0, 0, 0, 0.018), 0px 100px 80px rgb(0, 0, 0, 0.03);

$box-shadow-2: 0px 6px 5px rgb(0, 0, 0, 0.016),
  0px 22px 18px rgb(0, 0, 0, 0.024), 0px 100px 80px rgb(0, 0, 0, 0.04);

$body-text-preset: "set-2";
$body-font-weight: $font-weight-default;
$body-text-color: $color-text-default;
$body-background-color: $color-background-default;

$link-color: $color-text-interactive-default;
$link-color-hover: $color-text-interactive-hover;


$heading-color-default: $color-primary-900;
$heading-text-transform: none;

$heading-1-text-prexet: "set-heading-1";
$heading-1-color: $heading-color-default;
$heading-2-text-prexet: "set-heading-2";
$heading-2-color: $heading-color-default;
$heading-3-text-prexet: "set-heading-3";
$heading-3-color: $heading-color-default;

// layout
$grid-gap: $size-6; 
$flex-group-gap: 0.375rem;
$flow-space-1: $size-4;
$flow-space-2: $size-8;

$hero-padding-block: clamp(15rem, 15vh, 20rem);
$section-padding-block: clamp(5rem, 10vh, 6rem);

$container-min-margin-inline-small: $size-4;
$container-min-margin-inline-medium: $size-8;
$container-min-margin-inline-large:  8.4375rem;
$container-max-width: 73.375rem;
$container-max-width-narrow: 60.625rem;
$container-max-width-wide: 75rem;

//section
$section-margin-block: ($size-11, $size-12, 7.5rem);

//hero
$hero-padding-block-small: $size-6 $size-12;
$hero-padding-block-medium: $size-8 $size-12;
$hero-header-margin-block-end:($size-10,$size-11,$size-12);
$hero-inner-gap: $size-11;


//Advantages
$advantages-inner-gap:(small: $size-9, large: $size-12);
$advantages-text-gap-small: $size-6; 
$advantages-text-gap-medium: 2.125rem; 

//Community
$community-inner-gap: ($size-9, $size-12);

//Journey
$journey-color: $color-primary-900;
$journey-inner-padding-small: $size-11 $size-4;
$journey-inner-padding-medium: $size-12 $size-8;
$journey-inner-padding-large: $size-12 3.75rem;
$journey-inner-gap: ($size-8,$size-10,$size-11);


$journey-ol-gap:($size-8, $size-9, $size-10);
$journey-li-gap:($size-5, $size-6);

//membership
$membership-inner-gap: ($size-6,$size-9,$size-11);
$membership-padding-small: $size-6;
$membership-padding-large: $size-9 $size-6;
$membership-options-gap: $size-6;
$membership-tier-width-medium: 21.25rem;
$membership-tier-width-large: 17.875rem;
$membership-tier-gap: $size-8;
$membership-tier-text-gap: $size-6;

//Testimonials
$testimonials-gap: $size-8;


//Membership-cta 
$membership-cta-gap: $size-5;

// site footer
$footer-padding-block-start: ($size-10, $size-11, $size-12);

$footer-background-color: $color-primary-900;
$footer-text-color: $color-neutral-000;
$footer-link-color: $color-neutral-100;
$footer-link-color-hover: $color-primary-200;
$footer-link-font-family: $font-family-accent;
$footer-link-text-decoration: none;

// buttons

$button-text-transform: uppercase;
$button-padding-small: $size-5; 
$button-padding-medium: $size-5 $size-6;
$button-border: 0;
$button-border-radius: $border-radius-1;

$button-outline-color: $color-primary-900;
$button-outline-background: $color-accent-100;
$button-outline-color-hover: $color-primary-900;
$button-outline-background-hover: $color-accent-100;

$button-outline-transparent-color: $color-neutral-000;
$button-outline-transparent-background: transparent;
$button-outline-transparent-color-hover: $button-outline-transparent-color;
$button-outline-transparent-background-hover: linear-gradient(90deg, $color-primary-700 0%, $color-primary-900 100%);


//Lists
$ul-row-gap: $size-4;
$ul-row-gap-medium: $size-6;
$ul-bullet-color: $body-text-color;
$ul-bullet-width: $size-4;
$ul-bullet-margin-right: $size-3;
$ol-li-padding-left: $size-7;


// cards
$card-flow-spacing: $size-2;
$card-padding: $size-8;
$card-shadow: $box-shadow-1;
$card-border-radius: $border-radius-2;
$card-background-default: $color-primary-100;
$card-color-default: $body-text-color;
$card-heading-color-default: $card-color-default;

